
@font-face {
  font-family: myfont;
  src: url(BebasNeue-Regular.ttf);
}
body {
  margin: 0;
  padding: 0;
  font-family: myfont;
  background-color: black;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(3rem);
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 300vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.slide {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start !important;
}

.one {
  background: black;
  background-size: auto 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.two {
  background: white;
  background-size: auto 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.table{
  display: block;
  margin: auto;
}
tr,td{
  padding: 1em;
}
.backgroundequipe {
  display:inline-block;
  vertical-align: baseline;
}
.background {
  position: absolute;
  display:block;
  top: 0;
  left: 0;
  z-index: 0;
}

.middle{
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 6em;
}
.button {
  width: 100%;
  background-color: #37BDDE;
  border: none;
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 4px 2px;
  border-radius: 100%;
  position: relative;  
  font-family: myfont;
}

@import url("https://fonts.googleapis.com/css2?family=bebasneue:wght@500&display=swap");
a{
  font-family: "BebasNeueRegular";
  src:url(BebasNeueRegular.ttf) format('truetype'),
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.test {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: hsl(0, 0%, 100%);
}

.imgtest{
  width: 40vw;
  text-align: center;
  padding-top: 3vw;
  position: relative;
  margin:auto;
}
.imgtest2{
  width: 15vw;
  float: center;
  padding-right: 3vw;
  padding-top: 3vw;
  position: relative;
}
.imgtest3{
  width: 15vw;
  float: left;
  padding-left: 3vw;
  padding-top: 3vw;
  position: relative;
}
.teamimg{
  width:50vw;
  position: relative;
  margin: .5em;  
  float: left;
}
.teamimg2{
  width:50vw;
  position: relative;
  margin: .5em;  
  float: right;
}
.team1{
  display: inline-block;
  position: relative;
  color:white;
  font-size: 15vw;
}
.imgandtext{
  padding: 2em;  
  padding-right: 1em;
  padding-left: 1em;
  width: 100vw;
  display: table;
}
.particless{
  position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}
.title{
  color:white;
  font-size: 20vw;
  margin: revert;
  position: relative;
  text-align: center;
}
.text{
  color:white;
  font-size: 3vw;
  position: relative;
  text-align: justify;
  margin: 1em;
}
.logo{
  display: inline-block;
  position: center;
  height: 100vh;
}
.center{
  position: relative;
  text-align: center; 
  justify-content: center;
  align-items: center;
}
.scroll{    
  scroll-snap-type: y mandatory;
}
.child{  
  scroll-snap-align: start;
}
.imgrightside{
  position: relative;
  float: right;
  margin-left: 1em;
}

.imgleftside{
  position: relative;
  float: left;
  margin-right: 1em;
}
.innovationtitle{
  color:white;
  font-size: 8vw;
  margin: revert;
  position: relative;
  text-align: center;
}
.innovationtext{
  color:white;
  font-size: 2vw;
  position: relative;
  text-align: justify;
  margin: 1em;
}
.textteam{
  color:white;
  font-size: 2.5em;
  position: relative;
  text-align: center;
  margin: 0.2em;
}
.textSmall{
  color:white;
  font-size: 1.5em;
  position: relative;
  text-align: center;
  margin: 0.2em;
}
.video {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}