body {
    background-color: black;
    font-family: Cambria, Arial;
}

canvas {
    background-color: white;
	float: left;
}

.center-div {
	position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.center-button {
	margin-left: auto;
    margin-right: auto;
	color: black;
    width: 101px;
}

.life-bar {
    position: absolute;
    top: 575px;
    width: 300px;
    height: 15px;
    border: 5px solid gray;
}

.life-bar.spaceship {
    right: 0;
    background: linear-gradient(to right, red , black);
}

.life-bar.enemy {
    left: 0;
    background: linear-gradient(to left, greenyellow , black);
    display: none;
}

.life {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300px;
}

.spaceship .life {
    left: 0;
    background-color: lawngreen;
}

.enemy .life {
    right: 0;
    background-color: darkmagenta;
}

.main-menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 800px;
	height: 600px;
    background-image: url('img/mainmenu.png');
}

.pause-menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 800px;
	height: 600px;
	background-color: rgba(60, 60, 60, 0.3);
	display: none;
}

.gameover-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 800px;
    height: 600px;
    background-image: url('img/gameover.png');
    display: none;
}

.win-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 800px;
    height: 600px;
    background-image: url('img/win.png');
    display: none;
}

.title {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: center;
    color: black;
    font-size: 2.5em;
    font-weight: bolder;
}

.level-grid {
    display: table;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 10px;
    border: 2px;
    position: absolute;
    top: 300px;
    left: 50px;
    width: 700px;
}

.level-row {
    display: table-row;
}

.level-cell {
    display: table-cell;
    background-color: rgba(60, 60, 60, 0.8);
    border: 1px solid black;
    height: 70px;
    vertical-align: middle;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

.level-cell:hover {
    background-color: rgba(150, 150, 150, 0.8);
}

.level-cell:active {
    background-color: rgba(30, 30, 30, 0.8);
}